:root {
	--green: #3b831d;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 2px;

	display: flex;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	justify-content: space-between;
	gap: 2px;
	height: 100vh;
}

body > * {
	flex: 1;
}

#welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 5px 0px 0px 5px;
	border: 10px solid green;
	background-color: #f9f9f9;
}

#welcome p {
	color: #333;
}

#start-button {
	background-color: var(--green);
	color: #f8f8f8;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}

#start-button:hover {
	background-color: #45a049;
}

#board {
	border-radius: 0px 5px 5px 0px;
	background-color: var(--green);
	display: flex;
}
